html {
    color: #ffffff;
}

header {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/back_img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    color: #ffffff;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

h1 {
    margin: 0;
    text-align: center;
    padding-top: 5%;
}

#box {
    font-size: 1.3em;
    list-style: none;
}

.select-user {
    margin: 10px;
}


/*==============center button====================*/
.button {
    text-align: center;
    margin-top: 5%;
}

#start {
    width: 256px;
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 1.2em;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

#start:hover {
    width: 256px;
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 1.2em;
    background-color: #006e54;
    opacity: 0.8;
    color: #fff;
    line-height: 50px;
}

#stop {
    width: 256px;
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 1.2em;
    background-color: transparent;
    opacity: 0.8;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
}

#stop:hover {
    width: 256px;
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 1.2em;
    background-color: #bb5535;
    opacity: 0.8;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
}

#reset {
    width: 256px;
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 1.2em;
    background-color: transparent;
    opacity: 0.8;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
}

#reset:hover {
    width: 256px;
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 1.2em;
    background-color: #1ab7ea;
    opacity: 0.8;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
}

#view {
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
}




/*PC display*/
@media only screen and (min-width: 768px) {
    #out {
        margin: 8%;
        text-align: center;
    }

    ul {
        list-style: none;
    }

    li {
        float: left;
        width: 200px;
        word-break: keep-all;
    }
}

/*SmartPhone display*/
@media only screen and (max-width: 768px) {
    .button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-bottom: 50px;
    }

    #out {
        list-style: none;
        margin-left: 25%;
    }

    li {
    }
}

/*header*/
header {
    padding:10px;
    background: #ffffff;
    opacity: 0.7;
}

#nav-drawer {
    color: #000000;
    position: relative;
}

/**/
.nav-unshown {
    display:none;
}

/*icon space*/
#nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

/*menu*/
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-open span:before {
    bottom: -8px;
}
#nav-open span:after {
    bottom: -16px;
}

/*close action*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*menu contents*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る*/
    max-width: 330px;/*最大幅*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.btn-add {
    float: right;
    width: 100px;
    padding: 2px 4px;
    margin: 10px;
    font-size: 0.8em;
    background-color: #1ab7ea;
    opacity: 0.8;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
    
}